body {
    background-color:#8C8C8C ;

}

.error {
    color: red;

}

.card{
    margin: 5px;
    text-align: center;
    background-color: #d9d9d9;


}
.card a{
    color: black ;
}

.container{
    display: flex;

}

a{
    color: white;
}